<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>GitHub CV</string>

    <key>CFBundleIdentifier</key>
    <string>net.ia.writer.template.github.cv</string>

    <key>IATemplateDocumentFile</key>
    <string>document</string>

    <key>IATemplateHeaderHeight</key>
    <integer>0</integer>
    <key>IATemplateFooterHeight</key>
    <integer>0</integer>

    <key>IATemplateDescription</key>
    <string>GitHub style template optimized for CVs.</string>
    <key>IATemplateAuthor</key>
    <string>Custom</string>
    
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
</dict>
</plist>